@namespace url(http://www.w3.org/1999/xhtml);

  html.dark-theme {
    background-color: #2e3243 !important;
    min-height:100%;
  }
  
  body.dark-theme {
    background-color: #2e3243 !important;
    min-height:100%;
  }

  .dark-theme #content {
    background-color: transparent !important;
  }
  
  .dark-theme .site-container {
    background-color: transparent;
  }
  
  .dark-theme .main {
    background-color: transparent !important;
  }
  
  .dark-theme .main-gutter {
    background-color: transparent !important;
  }
  
  .dark-theme .nav-wrap {
    background-color: #2e3243;
    border-right: 1px solid #3b3f53 !important;
  }
  
  .dark-theme .highcharts-background {
    background-color: #2e3243 !important;
  }
  
  /* Dashboard */
  .dark-theme .promo-invoice-designer {
    display: none !important;
  }
  
  .dark-theme .dashboard-knowledge .knowledge-entry .icon-medium, .dashboard-knowledge .knowledge-entry .icon-full-width {
    border: 1px solid #4c516b;
  }
  
  .dark-theme .dashboard-page .dashboard-connect-item {
    border: 1px solid #4c516b;
  }
  
  .dark-theme .icn-svg-promote-dismiss {
    background-position: 0 0;
    background-image: url("http://media.dark-theme .mocku.ps/mockups/images/e39a14144a1eb09ba3cd4f4b1cf345d5a3c4ffbd.png?1409735497");
  }
  
  
  /* Navigation */
  .dark-theme .nav-lnk:hover, .dark-theme .nav-lnk.current {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 600;
  }
  
  .dark-theme .nav-lnk {
    color: #afb4cd;
    font-size: 14px;
  }
  
  .dark-theme .icn-svg-logo-black {
    background-position: 0 -1009px;
  }
  
  /* Top Bar */
  .dark-theme .md-view-notif-bar-accountInfo, .dark-theme .md-view-notif-bar-trialInfo {
    background-color: #1f2332;
    padding: 3px;
  }
  
  .dark-theme .md-view-notif-bar-accountInfo, .dark-theme .md-view-notif-bar-trialInfo {
    color: #bcc1d8;
    border-bottom: 0px;
  }
  
  .dark-theme .md-view-notif-bar-accountInfo .action-link, .dark-theme .md-view-notif-bar-trialInfo .action-link {
    color: #FFFFFF;
  }
  
  .dark-theme .btn.btn-prim {
	background-color: #40b1d0;
	border: none;
	color: #fff;
  }

  .dark-theme a:not(.btn) {
    color: #fff !important;
    text-decoration: none !important;
  }

  .dark-theme a:not(.btn):hover {
    color: #fff !important;
    text-decoration: underline !important;
  }
  
  .dark-theme .btn:hover {
    box-shadow: 0 2px 2px #1e2233;
  }

  .dark-theme svg rect {
    fill: #f00;
  }
  
  .dark-theme .action a {
    text-decoration: none !important;   
  }
  
  .dark-theme .md-view-notif-bar-accountInfo .action-link, .dark-theme .md-view-notif-bar-trialInfo .action-link {
    text-decoration: none;
  }
  
  .dark-theme .md-view-notif-bar-accountInfo .action-link:hover, .dark-theme.md-view-notif-bar-trialInfo .action-link:hover {
    text-decoration: underline;
  }
  
  /* Text */
  .dark-theme .dashboard-page .dashboard-subtitle {
    color: #FFF;
  }
  
  .dark-theme .dashboard-page {
    color: #bcc1d8;
  }
  
  .dark-theme .dashboard-knowledge .entry-title {
    color: #bcc1d8;
  }
  
  /* Buttons */
  .dark-theme .btn-blue-sky {
    box-shadow: none;
    background-color: #40b1d0;
    border: none;
  }
  
  .dark-theme .btn-blue-sky:hover, .dark-theme .btn-blue-sky:active, .dark-theme .btn-blue-sky:focus {
    box-shadow: none;
    border: none;
  }
  
  /* Invoices Page */
  .dark-theme .tabPanel .tab, .dark-theme .archived-tab {
    border: 1px solid #4c516b;
    color: #bcc1d8;
  }
  
  .dark-theme .tabPanel .tab:hover, .dark-theme .tabPanel .active, .dark-theme .tabPanel .tab:active, .dark-theme .archived-tab:hover {
    background-color: #3b3f53;
  }
  
  .dark-theme .tabPanel .tab:hover .tabTitle, .dark-theme .tabPanel .active .tabTitle {
    color: #FFFFFF;
  }
  
  .dark-theme .tab .tabData {
    border: 1px solid #4c516b;
    background-color: #2e3243;
  }
  
  .dark-theme .tabPanel .tab:hover .tabData, .dark-theme .tabPanel .active .tabData {
    border: 1px solid #4c516b;
    background-color: #2e3243;
    color: #bcc1d8;
  }
  
  .dark-theme .sort-active {
    color: #FFFFFF;
  }
  
  .dark-theme .lst-head {
    border-bottom: 1px solid #3b3f53;
  }
  
  /*Invoices List */
  .dark-theme .lst-row, .dark-theme .empty-lst-row.lst-row:hover {
    background-color: transparent;
    border-bottom: 1px solid #3b3f53;
    color: #FFFFFF;
  }
  
  .dark-theme .lst-row:hover {
    background-color: #3b3f53;
    color: #FFFFFF;
  }
  
  /* Buttons */
  .dark-theme .btn-light-grey {
    border: 1px solid #4c516b;
    background-color: #3b3f53 !important;
  }
  
  .dark-theme .btn-light-grey:hover, .btn-light-grey:active, .btn-light-grey:focus {
    border: 1px solid #4c516b;
    background-color: #454961 !important;
    box-shadow: none;
  }

.theme-switcher {
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
	width: 80px;
	background-color: #daecff;
	z-index: 80;
	padding-left: 10px;
}

.dark-theme .theme-switcher {
	background-color: #6a7082;
}

.dark-theme .textInput {
	background-color: #6a7082 !important;
	border:0 !important;
	color: #fff !important;
	box-shadow: none !important;
}

.dark-theme .bar-error {
	color: #fff;
	background-color: #f60;
}

.dark-theme .bar-notification {
	color: #fff;
	background-color: #7BDF5A;
}

.dark-theme textarea {
	background-color: #6a7082;
	border: 1px solid #5b5f73;
	color: #fff;
}

.dark-theme .chzn-container-single .chzn-single {
	background-color: #6a7082;
	border: 1px solid #5b5f73;
	color: #fff;
}

.dark-theme .dropdown-menu.more-menu {
	background-color: #EAEDF1;
	border: 1px solid #5b5f73;
	color: #000;
}

.dark-theme .dropdown-menu.more-menu a {
	color: #000 !important;
	text-decoration: none;
}

.dark-theme .dropdown-menu.more-menu a {
	text-decoration: none !important;
}

.dark-theme .modal.modal-send {
	background-color: #2e3243 !important;
	border: 1px solid #5f5f70;
}

.dark-theme .modal-header {
	background-color: #2e3243 !important;
	border-bottom: 1px solid #5f5f70;
}

.dark-theme .content.clearfix {
	background-color: #2e3243 !important;
}

.dark-theme .date-picker-wrapper {
	background-color: transparent !important;
	border-left: 1px solid #6a7082;
}

.dark-theme .lastCell.send-form-col {
	border-left: 1px solid #6a7082;
}

.dark-theme .modal-title {
	color: #fff !important;
}

.dark-theme .modal-close {
	background-color: #6a7082;
	color: #fff;
}

.dark-theme .title-bar-secondary-title {
	color: #fff;
}

.dark-theme .title-bar-heading {
	color: #fff;
}

.dark-theme .invoice-status-title {
	color: #fff;
}

.dark-theme .invoice-area-title {
	text-transform: uppercase;
	background: #5f5f70;
}

.dark-theme .invoice-area-title span {
	color: #fff;
	text-transform: uppercase;
	background: transparent;
}

.dark-theme .ui-autocomplete {
	background-color: #6a7082;
	border: 1px solid #5b5f73;
	color: #fff;
}

.dark-theme .chzn-container-single .chzn-single:hover {
	text-decoration: none !important;
}

.dark-theme .active-result.highlighted {
	background-color: #8a90a2;
	color: #fff;
}

.dark-theme .chzn-search {
	background-color: #8a90a2;
}

.dark-theme .no-results {
	background-color: #8a90a2 !important;
	color: #fff;
}

.dark-theme .chzn-search input {
	background-color: #8a90a2;
	background-image: none;
	border: 1px solid #5b5f73;
	color: #fff;
}

.dark-theme .chzn-drop {
	background-color: #6a7082;
	color: #fff;
}

.dark-theme .autocomplete {
	border: 1px solid #5b5f73;
}

.dark-theme label{
	color: #bcc1d8;
}

.dark-theme .invoice-areas-container {
	border: 2px dashed #3b3f53;
}

.dark-theme .invoice-area {
	border-bottom: 2px dashed #3b3f53;
}

.dark-theme .ui-button-icon {
	background-color: #6a7082;
}

.theme-switcher ul {
	padding-left: 0px;
}

.theme-switcher li {
	display: inline-block;
	padding-left: 10px;
	cursor: pointer;
}

.theme-switcher li div{
	border: 1px solid white;
	width: 20px;
	height: 20px;
}

.theme-switcher li.white div{
	background-color: white;
	z-index: 81;
}

.theme-switcher li.dark div {
	background-color: #1f2332;
	z-index: 81;
}
